@font-face {
  font-family: ka;
  src: url(./assets/fonts/ka1.ttf);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  margin-top: 20px;
  width: 880px;
}

img.linkedin {
  height: 20px;
  margin-left: 20px;
  margin-top: 10px;
}

img.github {
  height: 20px;
  margin-top: 10px;
}

.instructions {
  display: flex;
  font-family: ka;
  font-size: 13px;
  justify-content: center;
}

h1 {
  font-family: sans-serif;
  margin: auto;
}

#background {
  width: 1000px;
  height: 500px;
  background-color: lightgray;
  margin: auto;
}

.game {
  padding-top: 10px;
  display: flex;
  justify-content: center;
}
img#bg {
    width: 1000px;
    height: 500px;
}

#result {
  position: absolute;
  top: 150px;
}
.entire-bar {
  position: relative;
  top: 300px;
  left: 340px;
}

img#timing-bar {
  width: 340px;
  height: 30px;
  position: absolute;
  /*border: 1px solid;*/
}

canvas#bar{
  position: absolute;
  top: -10px;
  /*border: 1px solid red;*/
}

.entire-bar {
    position: relative;
    top: 300px;
    left: 329.5px;
}
