h1 {
  font-family: sans-serif;
  margin: auto;
}

#background {
  width: 1000px;
  height: 500px;
  background-color: lightgray;
  margin: auto;
}

.game {
  display: flex;
  justify-content: center;
}
img#bg {
    width: 1000px;
    height: 500px;
}

#result {
  position: absolute;
  border: 1px solid red;
  top: 200px;
}
.entire-bar {
  position: relative;
  top: 300px;
  left: 340px;
}

img#timing-bar {
  width: 340px;
  height: 30px;
  position: absolute;
  /*border: 1px solid;*/
}

canvas#bar{
  position: absolute;
  top: -10px;
  /*border: 1px solid red;*/
}
